    <h1>Message from Rotten Mangoes, <%= @user.full_name %></h1>
    <p>
      Your account: <%= @user.email %> has been deleted by an admin.  You must be a really bad person.  Good bye<br>
    </p>
    
    <p>Thanks for stopping by and have a great day!  (Actually, Good Riddance!)</p>
