<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @user.name %></h1>
    <p>
      Your account: <%= @user.email %> has been deleted by an admin.  You must be a really bad person.  Good bye<br>
    </p>
    
    <p>Thanks for stopping by and have a great day!  (Good Riddance!)</p>
  </body>
</html>