<h1>Rotten Mangoes ADMIN</h1> 
<%= link_to "Back to all da movies", movies_path %>

<%= paginate @users %>

<br>
<strong><h3>User List</h3></strong><br><hr>

<% @users.each do |user| %>
  <%= render 'user', user: user %>
<% end %>
<%= link_to "Create new user", "new"%>


